In [1]:
# Set up database connection
# Establishing connection between Python and MySQL database via connector API
import mysql.connector as connector
from mysql.connector import Error
from dotenv.main import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

try:
    connection = connector.connect(
        user=os.getenv('DB_USER'),
        password=os.getenv('DB_PASSWORD')
    )
except Error as er:
    print(er.msg)

print("Connection between MySQL and Python is established.\n")

Connection between MySQL and Python is established.

In [2]:
# Creating cursor object to communicate with entire MySQL database

cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

In [3]:
#Task2 show tables in little lemon databases
# Set LittleLemonDB database for use
cursor.execute("USE LittleLemonDB")
cursor.fetchall()  # Added to consume the results
print("The database LittleLemonDB is set for use.")

show_tables_query = "SHOW TABLES;" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
columns = cursor.column_names

print(columns)
for result in results:
    print(result)

The database LittleLemonDB is set for use.
('Tables_in_littlelemondb',)
('bookings',)
('customers',)
('menu_items',)
('order_delivery_status',)
('order_details',)
('orders',)
('ordersview',)
('staff',)

In [4]:
join_query = """SELECT
    CONCAT(C.FirstName, ' ', C.LastName) AS CustomerFullName,
    C.PhoneNumber,
    C.Email,
    O.TotalAmount
FROM
    Customers AS C
JOIN
    Orders AS O
    ON C.CustomerID = O.CustomerID
WHERE
    O.TotalAmount > 60
ORDER BY
    O.TotalAmount DESC;"""

In [5]:
#Task 3 join customer and order total amount
# Execute the join query
cursor.execute(join_query)

# Fetch all results
results = cursor.fetchall()

# Get column names
columns = cursor.column_names

# Print column names
print("Columns:", columns)
print("\nResults:")
print("-" * 80)

# Print each row
for row in results:
    print(row)

Columns: ('CustomerFullName', 'PhoneNumber', 'Email', 'TotalAmount')

Results:
--------------------------------------------------------------------------------
('Bella Ward', '888-333-2222', 'bella.ward@email.com', Decimal('140.00'))
('Quinn Hall', '222-888-7777', 'quinn.hall@email.com', Decimal('130.00'))
('Laura White', '000-111-2222', 'laura.white@email.com', Decimal('110.00'))
('Victor Nelson', '666-111-0000', 'victor.nelson@email.com', Decimal('100.00'))
('George Moore', '222-333-4444', 'george.moore@email.com', Decimal('90.50'))
('Samuel Adams', '333-999-6666', 'samuel.adams@email.com', Decimal('80.00'))
('Zachary Ross', '444-000-3333', 'zachary.ross@email.com', Decimal('78.00'))
('Bob Johnson', '987-654-3210', 'bob.johnson@email.com', Decimal('75.00'))
('Nancy Martin', '111-999-8888', 'nancy.martin@email.com', Decimal('70.00'))
('Xavier Reed', '555-000-9999', 'xavier.reed@email.com', Decimal('65.00'))
('Ian Anderson', '333-444-5555', 'ian.anderson@email.com', Decimal('60.75'))